.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem;
}
.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}
